.container {
          
        			width: 960px;
					font-family:"Helvetica Neue", "Helvetica Neue Light", Arial;
					color: black;
					text-align: center;}
					
figure { margin: auto; padding-left: 100px; border: 20px;}
figcaption { margin: auto; padding-left: 110px; }
#st {float: left; position: relative;}
aside img {border-radius: 40px 40px 40px 40px; padding-top: 20px;}

aside { float:right; clear: both; width: 200px; margin-bottom: 50px; padding-bottom: 50px;}

aside p {
		text-align: left;
		font-size: 90%;
		}
header, aside, section, nav, footer {display: block;}

header { background-color: #8c8c8c; margin: auto; padding: 20px; width: 95%;}

h1 { text-align: left; font-weight: bold; border-bottom:thin; background-color: #8c8c8c;}
h3 { text-align: left; background-color: #8c8c8c; padding-bottom: 20px; margin-bottom:auto;border-bottom: thick}

ol {list-style-type: none;}

ul 		 {		
			list-style-type:none;	
			padding-right: 0;
			margin: auto;
			overflow: hidden;
			
			}
ul li 			
				{
					float: left;
					margin: auto;
				}

ul li a 		{
			display:block;
			background-color:#8c8c8c;
			color: white;
			text-decoration: none;
			font-size: 25px;
			text-align: center;
			margin:0px 10px 0px 10px;
			}

li a:hover:not(.active) 
			{
			color:#000000;
			background-color:#dddddd;
			text-decoration: none;
			}
.active	{
			background-color:#f88379;
			color: white;
		}

nav a 		
		{
		display: block;
		padding: 10px;
		}

		
section {display: inline-block; width: 25%;}
#contact {width: 80%; text-align:center;}
#recent {width: 75%; text-align: center;}

footer{position: fixed; bottom: 0; background-color: #8c8c8c;width: 95%; height: 30px;}
#video1  {margin-left: 100px; text-align: center;}
#video2 {margin-left: 100px; text-align: center;}

.video {
	padding:1em; 
	-moz-column-count: 1;
	-moz-column-gap: 1em;
	-webkit-column-count: 1;
	-webkit-column-gap: 1em;
	column-count: 1;
	column-gap: 1em;
	margin-top: 70px;
	margin-bottom: 50px;
	}
.photos1 {
	
	display: inline-block;
	margin-left: 100px;
	padding-right: 50px;
		
 }
	.chair {transform: rotate(-90deg);
	float: left;
	display: block;
	padding-bottom: 50px;
	margin: auto;
	}
#grad1 {
    height:400px;
    background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); }

